@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Poppins', sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.7;
	box-sizing: border-box;
}

ul {
	list-style-type: none;
}

a:link,
a:visited,
a:hover,
a:active {
	text-decoration: none;
}

img {
	max-width: 100%;
}

:root {
	--orange: #fc4c1c;
	--orange-dark: #e4562f;
	--linen: #fae8e0;
	--alabaster: #fbfbfb;
	--snow: #f9f9f9;
	--boulder: #777;
	--davys-grey: #555;
	--orange-background-gradient: linear-gradient(to right, rgba(255, 185, 0, 0.8), rgba(255, 119, 48, 0.8));
	--green-background-gradient: linear-gradient(to right, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8));
}


/*--------------------------------------------------------*/
/*-------------------- ANIMATIONS ------------------------*/
/*--------------------------------------------------------*/
@keyframes moveInFromLeft {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-10rem);
		transform: translateX(-10rem);
	}
	80% {
		-webkit-transform: translateX(1rem);
		transform: translateX(1rem);
	}
	100% {
		opacity: 1;
		-webkit-transform: translate(0);
		transform: translate(0);
	}
}

@keyframes moveInFromRight {
	0% {
		opacity: 0;
		-webkit-transform: translateX(10rem);
		transform: translateX(10rem);
	}
	80% {
		-webkit-transform: translateX(-1rem);
		transform: translateX(-1rem);
	}
	100% {
		opacity: 1;
		-webkit-transform: translate(0);
		transform: translate(0);
	}
}

@keyframes moveUpAndDown {
	from {
		transform: translate3d(0, -2.5rem, 0);
	}
	to {
		transform: translate3d(0, 0, 0);
	}
}
/*--------------------------------------------------------*/
/*-------------------- ANIMATIONS ------------------------*/
/*--------------------------------------------------------*/


/*--------------------------------------------------------*/
/*-------------------- BUTTONS ---------------------------*/
/*--------------------------------------------------------*/
.btn:link,
.btn:visited,
button {
	display: inline-block;
	font-size: 1.3rem;
	text-transform: uppercase;
	text-decoration: none;
	padding: 1.5rem 4rem;
	border-radius: 100px;
	-webkit-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
	position: relative;
}

.btn:hover,
button:hover {
	-webkit-transform: translateY(-3px);
	-ms-transform: translateY(-3px);
	transform: translateY(-3px);
	-webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:active,
button:active {
	-webkit-transform: translateY(-1px);
	-ms-transform: translateY(-1px);
	transform: translateY(-1px);
	-webkit-box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
	box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn::after,
button:after {
	content: '';
	display: inline-block;
	width: 100%;
	height: 100%;
	border-radius: 100px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	-webkit-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s;
}

.btn:hover::after,
button:hover::after {
	-webkit-transform: scaleX(1.4), scaleY(1.6);
	-ms-transform: scaleX(1.4), scaleY(1.6);
	transform: scaleX(1.4), scaleY(1.6);
}


/* .btn-white {
	background-color: #fff;
	color: var(--boulder);
}

.btn-white::after {
	background-color: #fff;
	opacity: 0;
} */

.btn-phantom:link,
.btn-phantom:visited {
	background-color: #fff;
	color: var(--boulder);
	-webkit-box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
	box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn-phantom:hover,
.btn-phantom:active {
	outline: 2px solid var(--orange);
	color: var(--orange);
}

.btn-orange:link,
.btn-orange:visited {
	background-color: var(--orange);
	color: #fff;
}

.btn-orange:hover,
.btn-orange:active {
	background-color: var(--orange-dark);
	color: #fff;
}

.btn-orange::after {
	background-color: var(--orange);
	opacity: 0;
}

.btn-animated {
	-webkit-animation: moveInFromBottom .5s ease-out .75s;
	animation: moveInFromBottom .5s ease-out .75s;
	-webkit-animation-fill-mode: backwards;
	animation-fill-mode: backwards;
}

.btn-custom:link,
.btn-custom:visited {
	font-size: 1.2rem !important;
	padding: 1rem 1.5rem !important;
}

.btn-custom:hover,
.btn-custom:active {
	font-size: 1.2rem !important;
}
/*--------------------------------------------------------*/
/*-------------------- BUTTONS ---------------------------*/
/*--------------------------------------------------------*/


/*--------------------------------------------------------*/
/*-------------------- OTHER UTILITY CLASSES -------------*/
/*--------------------------------------------------------*/
.no-background {
	background: none !important;	/*-----------  RESETS 'header' CLASS DEFINED LATER  -----------*/
}

.active-page:link,
.active-page:visited {
	color: var(--orange) !important;
}

.active-page:hover,
.active-page:active {
	color: var(--orange-dark) !important;
}

.text-center {
	text-align: center !important;
}

.float-right {
	float: right;
}

.margin-bottom-big {
	margin-bottom: 8rem;
}

.margin-bottom-small {
	margin-bottom: 1rem;
}

.row-redefined {
	margin-bottom: 4rem;	/*-----------  RESETS VERTICAL GUTTER DEFINED EARLIER  -----------*/
}

.section-title {
	display: table;
	font-size: 3.5rem;
	text-transform: capitalize;
	font-weight: 600;
	margin: 0 auto;
	/* text-shadow: .5rem 1rem 2rem rgba(0, 0, 0, 0.2); */
	text-shadow: .5rem 1rem 2rem rgba(252, 76, 28, 0.2);
	-webkit-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s ease-in-out;
}

.section-title span {
	background-image: linear-gradient(var(--linen), var(--orange));
	background-clip: text;
	-webkit-background-clip: text;
	font-weight: 700;
	color: transparent;
}

.section-title:hover {
	transform: translateY(-.3rem) scale(1.1);
}

#contact-us-section .section-title,
#about-us .section-title {
	margin: 0;	/*-----------  RESETS 'section-title' CLASS DEFINED EARLIER  -----------*/
}

.section-desc {
	display: table;
	max-width: 54rem;
	font-size: 1.6rem;
	color: var(--boulder);
	line-height: 1.625;
	margin: 0 auto 1rem auto;
}

.section-heading {
	font-size: 1.6rem !important;
	margin-top: 2rem;
	margin-bottom: 1rem;
}
/*--------------------------------------------------------*/
/*-------------------- OTHER UTILITY CLASSES -------------*/
/*--------------------------------------------------------*/


/*--------------------------------------------------------*/
/*-------------------- CLASSES INVOKED BY JAVASCRIPT -----*/
/*--------------------------------------------------------*/

.success {
	background-image: var(--orange-background-gradient); 
	font-family: inherit; 
}

.error {
	background-image: var(--orange-background-gradient);  
}


/*--------------------------------------------------------*/
/*-------------------- CLASSES INVOKED BY JAVASCRIPT -----*/
/*--------------------------------------------------------*/

#header {
	background-image: radial-gradient(#fff, var(--linen));
	position: relative;
	padding-bottom: .1rem;
	z-index: 1;
}

#header .logo-and-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 3rem 0;
}

.logo-and-nav .logo img {
	display: block;
}

.logo-and-nav .navigation {
	display: flex;
	align-items: center;
}

.navigation li:not(:first-of-type) {
	padding-left: 3rem;
}

.navigation li a:link,
.navigation li a:visited {
	color: #000;
	transition: color .3s ease-in-out;
}

.navigation li a:hover,
.navigation li a:active {
	color: var(--orange);
}

.logo-and-nav .menu-icon {
	display: none;
}

#header .what-we-offer {
	display: flex;
	align-items: center;
	padding: 14rem 0;
	position: relative;
	overflow: hidden;
}

.what-we-offer .tagline {
	flex: 0 0 50%;
}

.tagline h1 {
	font-size: 5rem;
	line-height: 1.2;
	font-weight: 700;
	margin-bottom: 2.5rem;
}

.tagline p {
	margin-bottom: 3rem;
}

.tagline .tagline-line-1 {
	display: block;
	-webkit-animation: moveInFromLeft 1s ease-out;
	animation: moveInFromLeft 1s ease-out;
}

.tagline .tagline-line-2 {
	display: block;
	-webkit-animation: moveInFromRight 1s ease-out;
	animation: moveInFromRight 1s ease-out;
}

.what-we-offer .flagship {
	flex: 1;
	overflow: hidden;
}

.flagship img {
	display: block;
	width: auto;
	height: 50rem;
	animation: moveUpAndDown 1.1s;
	animation-direction: alternate;
	animation-timing-function: cubic-bezier(.5, 0.05, 1, .5);
	animation-iteration-count: infinite;
	position: absolute;
	right: -5%;
	bottom: 5.3rem;
}

.what-we-offer .btn:link,
.what-we-offer .btn:visited {
	color: #fff;
	background-color: var(--orange);
}

.what-we-offer .btn:hover,
.what-we-offer .btn:active {
	color: #fff;
	background-color: var(--orange-dark);
}

#header .custom-shape-divider-bottom-1619710310 {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
	transform: rotate(180deg);
}

#header .custom-shape-divider-bottom-1619710310 svg {
	position: relative;
	display: block;
	width: calc(100% + 1.3px);
	height: 150px;
}

#header .custom-shape-divider-bottom-1619710310 .shape-fill {
	fill: #FFFFFF;
}

#products-section {
	padding: 17rem 0 10rem 0;
	margin-top: -20vh;
}

#products-section .product {
	height: auto;
	background-color: #fff;
	border-radius: 2rem;
	overflow: hidden;
	box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
	-webkit-transition: -webkit-transform .3s ease-out;
	transition: -webkit-transform .3s ease-out;
	-o-transition: transform .3s ease-out;
	transition: transform .3s ease-out;
	transition: transform .3s ease-out, -webkit-transform .3s ease-out;
	/*margin-bottom: 5rem;*/
	text-align: center;
}

#products-section .product .product-contents {
	padding: 1.5rem;
}

#products-section .product:hover {
	-webkit-transform: translateY(-1.5rem) scale(1.03);
	-ms-transform: translateY(-1.5rem) scale(1.03);
	transform: translateY(-1.5rem) scale(1.03);
}

#products-section img {
	display: block;
	width: 22.7rem;
	height: 34.9rem;
	margin: 1rem auto 0 auto;
}

#products-section .rating {
	margin-top: .5rem;
}

#products-section .rating .fa {
	font-size: 2.6rem;
	color: rgba(255, 119, 48, 0.8);
	transition: .4s;
	margin: .3rem;
}

#products-section .rating .fa:hover {
	transform: scale(1.3);
	transition: .6s;
}

#products-section .pr-btn:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	background-color: var(--orange-dark);
	transition: width cubic-bezier(1,0,0,1) .4s;
}

#products-section .pr-btn:link,
#products-section .pr-btn:visited {
	position: relative;
	display: block;
	text-align: center;
	/*font-size: 2.4rem;*/
	background-color: var(--orange);
	font-size: 1.3rem;
	font-weight: 500;
	text-transform: capitalize;
	text-decoration: none;
	color: #fff;
	width: 100%;
	padding: 1.5rem;
	border: 0;
	outline: none;
	cursor: pointer;
	border-bottom-right-radius: 2rem;
	border-bottom-left-radius: 2rem;
}

/*#products-section .pr-btn:hover::before,
#products-section .pr-btn:active::before {
	width: 100%;
}*/

.rating {
	margin-top: .5rem;
	margin-left: .5rem;
}

.rating .fa {
	color: var(--orange);
}

#about-us {
	padding: 6rem 0;
}

.about-us-image img {
	width: 40rem;
	height: 52.4rem;
}

.about-us-content .btn {
	padding: 0.8rem 4rem;
	margin-top: 2rem;
}

.about-us-content h1 {
	display: none;
}

.about-us-content h2 {
	/*font-size: 2.5rem;*/
}

.about-us-content h3 {
	font-size: 1.6rem;
	margin: 2rem 0 1rem 0;
}

.about-us-content .p1 {
	margin-bottom: 1rem
}

#contact-us-section {
	padding: 15rem 0;
	background-image: linear-gradient(to right bottom, var(--orange), var(--alabaster));
}

#contact-us-section #contact-us {
	background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../images/woman-reading-a-book-in-a-cafe.jpg);
	background-size: cover;
	border-radius: 3px;
	box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
	position: relative;
}

#contact-us .form-container {
	width: 50%;
	padding: 6rem;
}

#contact-us .form-container h1 {
	display: none;
}

#contact-us .form-container #honey {
	display: none;
}

.form-elements:not(:last-of-type) {
	margin-bottom: 2rem;
}

.form-elements input,
textarea {
	width: 90%;
	display: block;
	background-color: rgba(255, 255, 255, 0.56);
	font-family: inherit;
	color: inherit;
	font-size: 1.5rem;
	padding: 1.5rem 2rem;
	border-radius: 2px;
	border: none;
	border-bottom: 3px solid transparent;
	transition: all .3s;
}

.form-elements input:placeholder-shown+label,
textarea:placeholder-shown+label {
	opacity: 0;
	visibility: hidden;
	transform: translateY(-4rem);
}

.form-elements textarea {
	height: 120px;
}

.form-elements input:focus,
textarea:focus {
	outline: none;
	-webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
	border-bottom: 3px solid #55c57a;
}

.form-elements input:focus:invalid,
textarea:focus:invalid {
	border-bottom: 3px solid #ff7730;
}

.form-elements label {
	font-size: 1.2rem;
	font-weight: 700;
	margin: .7rem 0 0 2rem;
}

.form-elements button {
	background-image: var(--orange-background-gradient);
	color: #fff;
	border: none;
	outline: none;
	cursor: pointer;
}

.form-elements button:focus {
	-webkit-transform: translateY(-3px);
	-ms-transform: translateY(-3px);
	transform: translateY(-3px);
	-webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}


.memo-modal {
	width: 100%;
	height: 100%;
	background-color: rgba(247, 247, 247, 0.8);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 11;
	opacity: 0;
	display: none;
	-webkit-animation: status 60s ease-in-out forwards;
	animation: status 60s ease-in-out forwards;
}

.memo-modal .memo {
	width: 40%;
	height: 40%;
	position: relative;
	top: 35%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 1rem;
	border-radius: 3rem;
	-webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
	box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
	display: table;
}

.memo::after {
	content: '';
	display: inline-block;
	width: 12%;
	height: 15%;
	background: inherit;
	position: absolute;
	bottom: -15%;
	left: calc(18% - 6%);
	clip-path: polygon(0 0, 100% 0, 50% 100%);
}

.memo .memo-text {
	display: table-cell;
	vertical-align: middle;
	color: #fff;
	font-size: 2.2rem;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 2px;
	text-align: center;
	word-wrap: break-word;
}

#footer {
	background-color: var(--snow);
	/* background-color: #eeedec; */
	padding: 6rem 0 4rem 0;
}

#footer .footer-logo {
	text-align: center;
}

.footer-logo a {
	color: transparent;
}

.footer-logo img {
	width: 4rem;
	height: auto;
}

.footer-logo small {
	display: block;
	color: #000;
}

.footer-menu-heading {
	font-size: 1.5rem;
	text-align: center;
	margin-bottom: 1.2rem;
}

.footer-menu {
	text-align: center;
}

.footer-menu .footer-menu-item .footer-menu-link:link,
.footer-menu .footer-menu-item .footer-menu-link:visited {
	font-size: 1.4rem;
	color: var(--boulder);
}

.footer-menu .footer-menu-item .footer-menu-link:hover,
.footer-menu .footer-menu-item .footer-menu-link:active {
	color: var(--orange);
}

#footer .copy-right {
	width: 100%;
	height: auto;
	text-align: center;
}

.copy-right small {
	display: inline-block;
	color: var(--orange);
	padding: .3rem .8rem;
	border: 2px solid var(--orange);
	border-radius: 100px;
}


