.btn::after,
.btn:link,
.btn:visited {
	display: inline-block;
	border-radius: 100px
}

*,
::after,
::before {
	padding: 0;
	margin: 0;
	box-sizing: inherit
}

::selection {
	background-color: rgba(255, 119, 48, .8);
	color: #fff
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth
}

body {
	font-family: Poppins, sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.7;
	box-sizing: border-box
}

ul {
	list-style-type: none
}

a:active,
a:hover,
a:link,
a:visited {
	text-decoration: none
}

img {
	max-width: 100%
}

:root {
	--orange: #fc4c1c;
	--orange-dark: #e4562f;
	--linen: #fae8e0;
	--alabaster: #fbfbfb;
	--snow: #f9f9f9;
	--boulder: #777;
	--davys-grey: #555
}

.btn:link,
.btn:visited {
	font-size: 1.3rem;
	text-transform: uppercase;
	text-decoration: none;
	padding: 1.5rem 4rem;
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
	position: relative
}

.btn:hover {
	-webkit-transform: translateY(-3px);
	-ms-transform: translateY(-3px);
	transform: translateY(-3px);
	-webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2)
}

.btn:active {
	-webkit-transform: translateY(-1px);
	-ms-transform: translateY(-1px);
	transform: translateY(-1px);
	-webkit-box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
	box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2)
}

.btn::after {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	-webkit-transition: .4s;
	-o-transition: .4s;
	transition: .4s
}

.btn:hover::after {
	-webkit-transform: scaleX(1.4), scaleY(1.6);
	-ms-transform: scaleX(1.4), scaleY(1.6);
	transform: scaleX(1.4), scaleY(1.6)
}

.btn-phantom:link,
.btn-phantom:visited {
	background-color: #fff;
	color: var(--boulder);
	-webkit-box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
	box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2)
}

.btn-phantom:active,
.btn-phantom:hover {
	outline: 2px solid var(--orange);
	color: var(--orange)
}

.btn-orange:link,
.btn-orange:visited,
.pagination span:hover {
	background-color: var(--orange);
	color: #fff
}

.btn-orange:active,
.btn-orange:hover {
	background-color: var(--orange-dark);
	color: #fff
}

.btn-orange::after {
	background-color: var(--orange);
	opacity: 0
}

.btn-animated {
	-webkit-animation: .5s ease-out .75s backwards moveInFromBottom;
	animation: .5s ease-out .75s backwards moveInFromBottom
}

.btn-custom:link,
.btn-custom:visited {
	font-size: 1.2rem !important;
	padding: 1rem 1.5rem !important
}

.btn-custom:active,
.btn-custom:hover {
	font-size: 1.2rem !important
}

.no-background {
	background: 0 0 !important
}

.active-page:link,
.active-page:visited {
	color: var(--orange) !important
}

.active-page:active,
.active-page:hover {
	color: var(--orange-dark) !important
}

.text-center {
	text-align: center !important
}

.float-right {
	float: right
}

.margin-bottom-big {
	margin-bottom: 8rem
}

.book-review-content .obj,
.margin-bottom-small {
	margin-bottom: 1rem
}

.row-redefined {
	margin-bottom: 4rem
}

.section-title {
	display: table;
	font-size: 3.5rem;
	text-transform: capitalize;
	font-weight: 600;
	margin: 0 auto;
	text-shadow: .5rem 1rem 2rem rgba(252, 76, 28, .2)
}

.section-title span {
	background-image: linear-gradient(var(--linen), var(--orange));
	background-clip: text;
	-webkit-background-clip: text;
	font-weight: 700;
	color: transparent;
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s ease-in-out
}

.section-title:hover {
	transform: translateY(-.3rem) scale(1.1)
}

.section-desc {
	display: table;
	max-width: 54rem;
	font-size: 1.6rem;
	color: var(--boulder);
	line-height: 1.625;
	margin: 0 auto 1rem
}

.footer-logo small,
.logo-and-menu .logo img {
	display: block
}

.section-heading {
	font-size: 1.6rem !important;
	margin-top: 2rem;
	margin-bottom: 1rem
}

#header {
	background-image: radial-gradient(#fff, var(--linen));
	position: relative;
	padding-bottom: .1rem;
	z-index: 1
}

#header .logo-and-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 3rem 0
}

.logo-and-nav .logo img {
	display: block
}

.logo-and-nav .navigation {
	display: flex;
	align-items: center
}

.logo-and-nav .menu-icon {
	display: none
}

.navigation li:not(:first-of-type) {
	padding-left: 3rem
}

.navigation li a:link,
.navigation li a:visited {
	color: #000;
	transition: color .3s ease-in-out
}

.footer-menu .footer-menu-item .footer-menu-link:active,
.footer-menu .footer-menu-item .footer-menu-link:hover,
.menu li a:active,
.menu li a:hover {
	color: var(--orange)
}

.logo-and-menu .menu-icon {
	display: none
}

#book-reviews {
	padding: 6rem 0;
}

.book-review-content,
.book-review-image {
	margin-bottom: 7rem;
}

.book-review-image img {
	width: 40rem;
	height: 52.4rem
}

.book-review-content .btn {
	padding: .8rem 4rem;
	margin-top: 2rem
}

.book-review-content h2 {
	font-size: 2.5rem
}

.book-review-content h3 {
	font-size: 1.6rem;
	margin: 2rem 0 1rem
}

.book-review-content h3 .icomoon {
	fill: var(--orange-dark);
	margin-left: 1rem
}

.book-review-content .obj {
	width: 100%; 
    height: auto; 
    border-radius: 3px; 
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, .15);
    outline: none;
    float: none; 
    clear: both;
}

#footer {
	background-color: var(--snow);
	padding: 6rem 0 4rem
}

#footer .footer-logo,
.footer-menu {
	text-align: center
}

.footer-logo a {
	color: transparent
}

.footer-logo img {
	width: 4rem;
	height: auto
}

.footer-logo small {
	color: #000
}

.footer-menu-heading {
	font-size: 1.5rem;
	text-align: center;
	margin-bottom: 1.2rem
}

.footer-menu .footer-menu-item .footer-menu-link:link,
.footer-menu .footer-menu-item .footer-menu-link:visited {
	font-size: 1.4rem;
	color: var(--boulder)
}

#footer .copy-right {
	width: 100%;
	height: auto;
	text-align: center
}

.copy-right small {
	display: inline-block;
	color: var(--orange);
	padding: .3rem .8rem;
	border: 2px solid var(--orange);
	border-radius: 100px
}
